
<div class = "profilegrid">
    <a href="/auth/logout"><p class="smalllink">Logout</p></a>
    <a class="topnav1" href="/profile">Profile</a>
    <h2 class="matchheader">Are they worthy?</h2>
    <a class="topnav2" href="/messages">Messages</a>
    <br>
    <div class="picdiv">
        <img class="profilepic" src="img/profile.png" alt="">
    </div>
    <p class="mydescription">Hello, <%= currentUser.name %></p>
    <br>
  
        
    <FORM action="/" method="post" id="form">

        <div class="slidecontainer">
            <input type="range" min="1" max="30" value="50" class="slider" id="myRange">
            <h3>Value: <span id="demo"></span></h3>
            <input type="submit" name="Send">
        </div>
    </FORM>
</div>
<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
    output.innerHTML = this.value;
    console.log(output.innerHTML)
    }
</script>