<div class = "profilegrid">
    <a href="/auth/logout"><p class="smalllink">Logout</p></a>
    <a class="topnav1" href="/profile">Profile</a>
    <h2 class="matchheader">Are they worthy?</h2>
    <a class="topnav2" href="/messages">Messages</a>
    <br>
    <img class="profilepic" src="img/profile.png" alt="">
    <p class="mydescription">Hello, <%= currentUser.name %></p>
    <br>
     <div class="catdiv">
        <p class="cat1 cat">category1</p>
        <p class="cat2 cat">category2</p>
        <p class="cat3 cat">category3</p>
        <p class="cat4 cat">category4</p>
        <p class="cat5 cat">category5</p>
    </div>

</div>