<div class = "profilegrid">

    <a class="topnav1" href="/">Match!</a>
    <a class="topnav2" href="/messages">Messages</a>
    <br>


    <img class="profilepic" src="img/profile.png" alt="">


    <p class="mydescription">Hello, <%= currentUser.name %></p>

</div>