
<div class = "profilegrid">
    <a href="/auth/logout"><p class="smalllink">Logout</p></a>
    <a class="topnav1" href="match">Match!</a>
    <h2 class="profileheader">Your Profile</h2>
    <a class="topnav2" href="/messages">Messages</a>
    <br>
    <div class="picdiv">
        <img class="profilepic" src="img/profile.png" alt="">
    </div>
    <p class="mydescription"> <%= currentUser.name %><%= profile.bio %></p>
    <br>

    <button id="locationbutton">Update my location</button>
    <br/>
    <p id="lat">Latitude:<span></span></p>
    <p id="long">Longitude:<span></span></p>
</div>

<script>
document.getElementById("locationbutton").addEventListener("click", init);

function init() {
    if(navigator.geolocation){
        console.log("geolocation available");
        let giveUp = 1000 * 30; // 30 seconds
        let tooOld = 1000 * 60 * 60 * 24; // 24 hours
        options ={
            enableHighAccuracy: true,
            timeout: giveUp, 
            maximumAge: tooOld
        }
        navigator.geolocation.getCurrentPosition(gotPos, posFail, options);
    } else {
        console.log("geolocation not available");
    }
}
function gotPos(position) {
    document.getElementById("lat").textContent = position.coords.latitude;
    document.getElementById("long").textContent = position.coords.longitude;
    // setTimeout(function () {
    //     db.profile.update({
    //     lat: position.coords.latitude,
    //     long: position.coords.longitude
    //     })
    
    // }, 7000)
}

function posFail (err) {

    //err is a number
}
</script>